body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(sk1.jpg);
	background-size: middle;
}


.freelancing
{

	position: absolute;
    top: 92px;
    left: 420px;
    color: #fff;
    font-size: 17px;
    margin-left: 50px;
    transform: translate(-50%,-50%);
    width: 925px;
    text-align: center;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;

}


.mail
{		
	color: #fff;
	font-size: 20px;
}

.sign_out{
	position: absolute;
    top: 92px;
    left: 1140px;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 167px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}


.sign_out .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;	
	pointer-events: none;
	transition: .5s;
}


.sign_out .inputBox
{
	position: relative;	
}
.sign_out .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff; 
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid;
	outline: none;
	background: transparent;
}


.sign_out .inputBox input:focus ~ label,
.sign_out .inputBox input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.sign_out input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background-color: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.sign_out .next input[type="submit"]
{
	background: transparent;
	position: absolute;
	top: 279%;
	left: 76%;
	border: none;
	outline: none;
	color: #fff;
	background-color: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}


.drop_qsn  
{
	position: absolute;
    top: 396px;
    left: 613px;
    font-size: 30px;
    margin-left: 60px;
    transform: translate(-50%,-50%);
    width: 1330px;
    height: 429px;
    text-align: center;
    padding: 25px;
    background: rgba(0,0,0,.5);
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}

.prev_qsn
{

	margin-top: -351px;
    margin-left: 93px;
    margin-bottom: 50px;
    height: 268px;
    width: 1017px;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    display: flex;
    overflow: auto;
} 	

.t
{
    position: absolute;
    
    border-color: white;
    margin-top: -396px;
    margin-left: 93px;
}

.textarea
{

	margin-top: 309px;
    margin-left: -579px; 

}
.ok
{
	position: absolute;
    top: 370px;
    left: 643px;
    width: 80px;
    height: 30px;
    color: #fff;
    border: none;
	outline: none;
    background-color: #03a9f4;
    border-radius: 5px;
}
.ok1
{
    position: absolute;
    top: 19px;
    left: 9px;
    width: 80px;
    height: 30px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #03a9f4;
    border-radius: 5px;
}

#inline
{
	margin-left: -1000px;
    margin-top: -60px;
    margin-bottom: 9px;
    height: 90px;
    width: 994px;
    color: #fff;
    font-size: 25px;
    border-color: #03a9f4;
    display: flex;
	
}

.D
{
   
    margin-left: 1000px;
    height: 300px;
    width: 200px;   
    border-color: white;
    margin-top: 60px;   


}
