	body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(sk1.jpg);
	background-size: middle;
}


.freelancing
{

	position: absolute;
    top: 92px;
    left: 420px;
    color: #fff;
    font-size: 17px;
    margin-left: 50px;
    transform: translate(-50%,-50%);
    width: 925px;
    text-align: center;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;

}

.qsn_typ
{
	position: absolute;
    top: 396px;
    left: 107px;
    font-size: 30px;
    margin-left: 60px;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 429px;
    text-align: center;
    padding: 25px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}


.mail
{		
	color: #fff;
	font-size: 20px;
}

.qsn_typ input[type="submit"]
{
	width: 57%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff; 
	letter-spacing: 1px;
	margin-bottom: 5px;
	border: none;
	border-bottom: 1px solid;
	outline: none;
	cursor: pointer;
	background: transparent;
}



.sign_out{
	position: absolute;
    top: 92px;
    left: 1140px;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 167px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}


.sign_out .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;	
	pointer-events: none;
	transition: .5s;
}


.sign_out .inputBox
{
	position: relative;	
}
.sign_out .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff; 
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid;
	outline: none;
	background: transparent;
}


.sign_out .inputBox input:focus ~ label,
.sign_out .inputBox input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.sign_out input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background-color: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.sign_out .next input[type="submit"]
{
	background: transparent;
	position: absolute;
	top: 279%;
	left: 76%;
	border: none;
	outline: none;
	color: #fff;
	background-color: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}


.drop_qsn  
{
	position: absolute;
    top: 396px;
    left: 615px;
    font-size: 30px;
    margin-left: 60px;
    transform: translate(-50%,-50%);
    width: 1334px;
    height: 429px;
    text-align: center;
    padding: 25px;
    background: rgba(0,0,0,.5);
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}
.drop_qsn inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff; 
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid;
	outline: none;
	background: transparent;
}


.subject
{
	position: absolute;
	top: 20%;
	left: 22%;
	font-size: 40px;
	
}

.option 
{
	position: absolute;
	top: 22%;
    left: 38%;
    width: 17%;
    padding: -43px 0;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    border: none;
    border-bottom: -3px solid;
    outline: none;	
}


.inputBox input[type="submit"]
{
	position: absolute;
	top: 6%;
	left: 1%;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background-color: #03a9f4;
	padding: 9px 20px;
	cursor: pointer;
	border-radius: 5px;
}


.prev_qsn
{
	position: absolute;
    margin-top: 13px;
    margin-left: 282px;
    border-color: white;
    width: 752px;
    height: 300px;
    
    border-color: #fff;
    
} 	


#inline
{
	margin-left: 0px;
    margin-bottom: 17px;
    height: 9px;
    font-size: 25px;
    color: #fff;
    /* border-style: solid; */
    border-color: #03a9f4;
    display: flex;
    margin-top: 29px;
}